include LICENSE
include NOTICE
include CHANGES.md
include README.md
include requirements.txt
include tox.ini
include demo/*/*/*
include test/*.py
include test/secrets.py-dist
include test/fixtures/*/*/*
prune test/secrets.py
